<div id="SI_User" class="TAP14 TAP14-logined" style="position: relative;">
    <div class="ac-rgst" style="display: none;">
        <a href="https://login.sina.com.cn/signup/signup?entry=news" class="msg-link" target="_blank" data-sudaclick="nav_registered_i">注册</a></div>
    <div class="ac-login ac-logined">
        <div class="ac-login-cnt " node-type="outer">
            <a class="thumb" href="http://weibo.com/" suda-uatrack="key=index_top&amp;value=head_click" target="_blank">
            <img src="https://tvax3.sinaimg.cn/crop.0.0.996.996.50/006RHNc9ly8frrbcu8qj8j30ro0rowfr.jpg?KID=imgbed,tva&amp;Expires=1625312809&amp;ssig=cpBdZF9o13">
            </a><span style="display:none" class="log-links"><a href="javascript:;">登录</a><em class="ac-icon ac-icon-slash"></em><a target="_blank" href="https://login.sina.com.cn/signup/signup?entry=homepage">注册</a></span>
            <i class="ac-icon ac-icon-ar"></i>
            <i class="ac-icon ac-icon-message" node-type="new_info_icon" style="visibility:hidden"></i>
        </div>
            <ul class="ac-dropdown" style="display: none;" node-type="outer">
                <li action-type="tab_btn"><a target="_blank" href="http://my.sina.com.cn/#location=news">我的新浪</a><i class="ac-icon ac-icon-message" node-type="new_info_icon" style="visibility:hidden"></i></li>
                <li action-type="tab_btn"><a target="_blank" href="http://weibo.com">我的微博</a><i class="ac-icon ac-icon-message" node-type="new_info_icon" style="visibility:hidden"></i>
                </li><li action-type="tab_btn"><a target="_blank" href="http://i.blog.sina.com.cn">我的博客</a><i class="ac-icon ac-icon-message" node-type="new_info_icon" style="visibility:hidden"></i></li>
                <li action-type="tab_btn"><a target="_blank" href="http://mail.sina.com.cn/">我的邮箱</a><i class="ac-icon ac-icon-message" node-type="new_info_icon" style="visibility:hidden"></i></li>
                <li><a target="_blank" href="http://news.sina.com.cn/guide/">我的导航</a></li>
                <li><a target="_blank" suda-uatrack="key=index_top&amp;value=logout" href="javascript:;" action-type="logout_btn">退出</a></li>
            </ul>
        </div>
        <div node-type="box" class="outlogin_layerbox_bylx outlogin_layerbox_bylx_anrrow" style="visibility: visible; display: none; top: 45px; left: -191px;">
								<div class="cur_move" node-type="handle">
									<a node-type="close" href="javascript:;" onclick="return false;" class="layerbox_close">×</a>
								</div>
								<div node-type="root" class="layerbox_left">
									<div class="titletips" node-type="titletips">新浪微博、博客、邮箱帐号，请直接登录</div>
									<p node-type="tip" class="login_error_tips" style="visibility: hidden;"></p>
									<ul class="loginformlist">
										<li class="ndrelativewrap" node-type="prelogin_area" style="display:none;">
											<span class="pre_name" node-type="prelogin_name">加载中...</span>
											<a href="javascript:;" class="chg_ac" node-type="prelogin_changeAccount">换个账号登录</a>
										</li>
										<li class="ndrelativewrap" node-type="loginname_box">
											<input node-type="loginname" name="loginname" class="styles" type="text" placeholder="微博/博客/邮箱/手机号" tabindex="1" maxlength="128" autocomplete="off" autocapitalize="off">
											<a node-type="clear" href="javascript:;" class="close_loginname" style="display:none;">×</a>
										</li>
										<li node-type="password_box">
											<input node-type="password" name="password" class="styles" type="password" placeholder="请输入密码" tabindex="2" maxlength="24">
										</li>
										<li class="loginform_yzm" node-type="door_box" style="display:none;">
											<div node-type="checkWrapper" style="position:absolute;z-index:1;width:260px;height:40px;display:none;"></div>
											<input node-type="door" name="door" class="styles" type="text" tabindex="3" maxlength="6" autocomplete="off" autocapitalize="off">
											<img node-type="door_img" class="yzm" alt="看不清？换一换">
											<a node-type="door_change" href="javascript:;" class="reload-code" title="看不清？换一换"></a>
											<a node-type="door_voice" href="javascript:;" class="disability_voice" style="display:none;"></a>
										</li>
										<li node-type="vsn_box" style="display:none;">
											<input node-type="vsn" name="vsn" class="styles" type="text" tabindex="4" maxlength="6" placeholder="请输入微盾动态码" autocomplete="off" autocapitalize="off">
										</li>
										<li class="sub_wrap_r">
											<span class="btn_wrap">
												<a href="javascript:;" tabindex="5" node-type="submit" class="login_btn" suda-uatrack="key=index_new_menu&amp;value=logon_login">登录</a>
												<div node-type="submitWrapper" style="position:absolute;z-index:1;width:64px;height:29px;display:none;"></div>
												<label node-type="remember_label" class="rmb_login"><input name="remember" node-type="remember" type="checkbox" class="auto_checkbox" checked="checked" autocomplete="off">
													<span>下次自动登录</span>
												</label>
											</span>
										</li>
										<li class="sub_wrap_r">
											<span class="log_option">
												<a class="forget_Pwd" node-type="forgot_password" href="https://login.sina.com.cn/getpass.html" target="_blank" suda-uatrack="key=index_new_menu&amp;value=logon_forgot">忘记密码</a>
												<a class="register_lnk" node-type="register_button" target="_blank" href="https://login.sina.com.cn/signup/signup.php?entry=ent" suda-uatrack="key=index_new_menu&amp;value=logon_register">立即注册</a>
											</span>
										</li>
										<li class="sub_wrap_r">
											<span class="qq_spanoption" style="">
												<a class="qq_login_h" node-type="qq_login" href="https://passport.weibo.com/othersitebind/authorize?site=qq&amp;wl=1&amp;entry=ent&amp;callback=https%3A%2F%2Fmil.news.sina.com.cn%2F2021-06-29%2Fdoc-ikqciyzk2542466.shtml" suda-uatrack="key=index_new_menu&amp;value=logon_qq">
													<span class="qq_login_logo"></span>
													<span class="qq_login">使用QQ登录</span>
												</a>
											</span>
										</li>
									</ul>
								</div>
								<div class="otwo_d_wrap" node-type="layerleft_qrcode">
									<div class="otwo_tl">用微博客户端扫描安全登录</div>
									<div class="td_wrap">
										<a href="javascript:;">
											<img node-type="qrcode_img" src="//i.sso.sina.com.cn/images/login/td.png">
										</a>
									</div>
								</div>
								<div class="otwo_d_wrap" node-type="layerleft_preloginThumb" style="display:none;">
									<div class="otwo_tl"></div>
									<div class="td_wrap">
										<span class="thumb">
											<img node-type="prelogin_img" src="//i.sso.sina.com.cn/images/login/pre_loading.gif">
										</span>
									</div>
								</div>
								<div node-type="qrcode_help" class="otwo_hlp" style="display:none;">
									<div class="hlp_cnt">
										<div class="ot_wrap">
											<img src="//i.sso.sina.com.cn/images/login/weibo_how_ot.png">
										</div>
									</div>
									<span class="ot_arrow"></span>
								</div>
								<div node-type="qrcode_tip" class="swip_check" style="display:none;">
									<span class="swip_check_cls" node-type="qrcode_tip_close"></span>
									<span class="swip_check_icon"></span>
									<p class="swip_check_txt">扫描成功！<br>点击手机上的确认即可登录</p>
									<span class="swip_check_btmarow"></span>
								</div>
								<div node-type="css_check" class="outlogin_checkload" style="display:none;"></div>
							</div>
</div>