{% extends 'common/layout2.html' %}
{% block title %}
注册
{% endblock %}
{% block content %}
			<h1>注册
				<small>已有账号？<a href="{% url 'user:login' %}">登录</a></small>

			</h1>
			<form method="post" action="{% url 'user:register' %}" novalidate>
				<div class="form-group">
					<label for="">手机号码</label>
					<input type="text" class="form-control" id="userCode"
                           name="userCode" value="{{ name|default_if_none:'' }}"/>
					<span class="error" style="color: red"> {{ form_model.userCode.errors.0 }} </span>
				</div>
				<div class="form-group">
					<label for="">密码</label>
					<div class="input-group" style="width: 100%;">
						<input type="password" class="form-control" style="border-radius: 4px;" id="userPassword"
                           name="userPassword" value="{{ password|default_if_none:'' }}"/>
						<span class="error" style="color: red"> {{ form_model.userPassword.errors.0 }} </span>
					</div>
				</div>
				<div class="form-group">
					<label for="">重复密码</label>
					<div class="input-group" style="width: 100%;">
						<input type="password" class="form-control" style="border-radius: 4px;" id="userPassword2"
                           name="userPassword2" value="{{ password2|default_if_none:'' }}"/>
						<span class="error" style="color: red"> {{ form_model.userPassword2.errors.0 }} </span>
					</div>
				</div>
				<div class="form-group">
					注册即同意
					<a href="">服务条款</a>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">注册</button>

				</div>
			</form>
{% endblock %}

